.heading-container {
    display: flex;
    justify-content: space-between;
    margin-left: 4px;
}

.empty-lines {
    background: black;
    font: bold;
    margin: auto;
    width: 35vw;
    height: 4px;
}

.heading {
    color: black;
    font: bold;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 30px;
    line-height: 36px;
}

@media (min-width: 640px) {
    .heading-container {
        margin: auto;
    }

    .empty-lines {
        width: 40vw;
    }

    .heading {
        margin: auto;
    }

}